@font-face {
    font-family: "Source Serif";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/SourceSerif/SourceSerif4-Regular.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/SourceSerif/SourceSerif4-It.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/SourceSerif/SourceSerif4-Bold.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/SourceSerif/SourceSerif4-BoldIt.ttf.woff2") format("woff2");
}
/* @link https://utopia.fyi/type/calculator?c=320,14.4,1.2,1140,14.4,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --color-dark: #393839;
    --color-light: #F1F0EA;

    --step--2: clamp(0.63rem, calc(0.63rem + 0.00vw), 0.63rem);
    --step--1: clamp(0.75rem, calc(0.75rem + 0.00vw), 0.75rem);
    --step-0: clamp(0.90rem, calc(0.90rem + 0.00vw), 0.90rem);
    --step-1: clamp(1.08rem, calc(1.08rem + 0.00vw), 1.08rem);
    --step-2: clamp(1.30rem, calc(1.30rem + 0.00vw), 1.30rem);
    --step-3: clamp(1.56rem, calc(1.56rem + 0.00vw), 1.56rem);
    --step-4: clamp(1.87rem, calc(1.87rem + 0.00vw), 1.87rem);
    --step-5: clamp(2.24rem, calc(2.24rem + 0.00vw), 2.24rem);
}

@page {
    margin: 0.25in;
}

/* Screen only! */
@media screen {
    /* elements */
    body {
        background-color: var(--color-light);
        margin-block: 2em;
        margin-inline: auto;
        max-inline-size: 75ch;
        padding-inline: 2em;
    }
}

/* elements */
body {
    color: var(--color-dark);
    font-family: 'Source Serif', serif;
    font-size: var(--step-0);
    line-height: 1.325;
}

h1 {
    font-size: var(--step-3);
}

h2 {
    font-size: var(--step-1);
}

h1,
h2 {
    line-height: 1.1;
    margin-block-start: 0.65em;
    margin-block-end: 0;
    break-after: avoid;
    break-inside: avoid;
}

ul {
    margin-block: 0.1em;
}

li {
    font-size: var(--step--1);
    list-style-type: square;
}

/* classes */
.avoid-break {
    break-inside: avoid-page;
}

.subheading {
    font-style: italic;
    margin-block: 0.2em 0;
}

.subheading + .subheading {
    margin-block-start: 0;
}